<style>
    .f-info-socials img {
        height: 2rem;
        border-radius: 6px;
    }

    .f-info {
        margin-top: 1rem;
    }
</style>

<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://leetcode.com/u/Vivek_Masuna/"><img src="/assets/leetcode.png" alt="leetcode"></a>
            <a href="https://www.instagram.com/vivek_masuna/"><img src="/assets/instagram.png" alt="instagram"></a>
            <a href="https://www.linkedin.com/in/vivekmasuna999/"><img src="/assets/linkedin.png" alt="linkedin"></a>
        </div>
        <div class="f-info-brand">
            Copyright &copy; 2024 VR Bookstore
        </div>
    </div>
</footer>
