<% layout('/layouts/boilerplate') %>

<style>
    .wrapper {
        margin: 0 auto;
        padding: 20px;
    }

    .login_box {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
</style>

<body>
    <div class="wrapper">
        <form action="/forgot" method="POST">
            <div class="login_box">
                <div style="width: 300px;" class="login-header">
                    <span>Forgot Password</span>
                </div>
                <div class="input_box">
                    <input type="email" name="email" class="input-field" required>
                    <label for="email" class="label">Email Address</label>
                    <i class="bx bx-envelope icon"></i>
                </div>
                <div class="input_box">
                    <input type="submit" class="input-submit" value="Reset Password">
                </div>
            </div>
        </form>
    </div>
</body>