<% layout('/layouts/boilerplate') %>

<style>
    .wrapper {
        margin: 0 auto;
        padding: 20px;
    }

    .login_box {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
</style>

<body>
    <div class="wrapper">
        <form action="/reset/<%= token %>" method="POST">
            <div class="login_box">
                <div style="width: 300px;" class="login-header">
                    <span>Reset Password</span>
                </div>
                <div class="input_box">
                    <input type="password" name="password" class="input-field" required>
                    <label for="password" class="label">New Password</label>
                    <i class="bx bx-lock icon"></i>
                </div>
                <div class="input_box">
                    <input type="password" name="confirm" class="input-field" required>
                    <label for="confirm" class="label">Confirm Password</label>
                    <i class="bx bx-lock icon"></i>
                </div>
                <div class="input_box">
                    <input type="submit" class="input-submit" value="Reset Password">
                </div>
            </div>
        </form>
    </div>
</body>